# Dependências do Node (Pasta muito pesada e gerada automaticamente)
node_modules/

# Arquivo de configuração sensível (Contém senhas do banco e chaves JWT)
.env

# Pasta de uploads (Para não subir as imagens processadas dos usuários)
uploads/*
!.gitkeep

# Logs de erro e depuração
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# Arquivos do Sistema Operacional
.DS_Store
Thumbs.db

# Pastas de build/dist (Se você usar algum framework de frontend no futuro)
dist/
build/